
@model IEnumerable<User>;

<h2>Welcome to Jess's Coffee Shop!</h2>
<h3>Create an account for emails and membership points!</h3>

<p>
    @Html.ActionLink("Register here today!", "Create", "User")
</p>